@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  /* Colors */
  --c-white: hsl(0, 0%, 100%);
  --c-light-gray: hsl(212, 45%, 89%);
  --c-grayish-blue: hsl(220, 15%, 55%);
  --c-dark-blue: hsl(218, 44%, 22%);

  /* Font */

  --ff: 'Outfit', sans-serif;

  --fs-heading: 1.5rem;
  --fs-body: 0.9375rem;

  --fw-regular: 400;
  --fw-bold: 700;

  /* Sizes */
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 2rem;
}

body {
  font-family: var(--ff);
  background-color: var(--c-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 85%;
}

.qr-card {
  background-color: var(--c-white);
  border-radius: var(--size-3);
  padding: var(--size-3);
  padding-bottom: var(--size-5);
  box-shadow: 1px 1px 50px 0px rgba(0, 0, 0, 0.2);
}

.qr-card__figure,
.qr-card__figure img {
  border-radius: var(--size-2);
}

.qr-card__figure {
  margin-bottom: var(--size-4);
}

.qr-card__text {
  padding: 0 var(--size-1);
  text-align: center;
}

.qr-card__text h1 {
  color: var(--c-dark-blue);
  font-weight: var(--fw-bold);
  font-size: var(--fs-heading);
  margin-bottom: var(--size-3);
}

.qr-card__text p {
  color: var(--c-grayish-blue);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
}

@media screen and (min-width: 376px) {
  main {
    width: 325px;
  }
}
